<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>格安SIM更新フォーム</title>
</head>
<body>
  <h1>格安SIM更新フォーム</h1>
  <form th:action="@{/plan_list/update/complete}" th:object="${mobilePlan}" method="post">
	<table>
	  <input type="hidden" th:field="*{id}">
	  <tr>
	  <td><label for="simName">SIM名</label></td>
	  <td><input type="text" th:field="*{simName}"/></td>
	</tr>
	<tr>
	  <td><label for="planName">プラン名</label></td>
	  <td><input type="text" th:field="*{planName}"/></td>
	</tr>
	<tr>
	  <td><label for="career">回線</label></td>
	  <td><input type="text" th:field="*{carrier}"/></td>
	</tr>
	<tr>
	  <td><label for="dataCapacity">容量 (GB)</label></td>
	  <td><input type="text" th:field="*{dataCapacity}"/></td>
	</tr>
	<tr>
	  <td><label for="monthlyFee">月額料金 (円)</label></td>
	  <td><input type="text" th:field="*{monthlyFee}"/></td>
	</tr>
	<tr>
	  <td><label for="monthlyFee">データ繰越</label></td>
	  <td><input type="checkbox" th:field="*{dataRollover}"/></td>
	</tr>
	<tr>
	  <td><label for="officialUrl">詳細</label></td>
	  <td><input type="text" th:field="*{officialUrl}"/></td>
	</tr>
	<tr>
		<td><input type="submit" value="更新" /></td>
	</tr>
	<tr>
		<td><input type="submit" value="削除" /></td>
	</tr>
	</table>
  </form>
</body>
</html>